<h3>Create Risk</h3>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name *</label>
    <input type="text"placeholder="Enter Risk"  required  [(ngModel)]="risk.name" class="form-control" id="exampleFormControlInput1">
  
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea [(ngModel)]="risk.description" maxlength="5000" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <br />
    <button type="button" (click)="clear()" class="btn btn-danger" ><i class="fa fa-close" style="font-size:12px;">&nbsp; &nbsp;Cancel</i></button>
    <span style="margin-left: 850px;">
    <button (click)="saveAddmore()" type="button" class="btn btn-success"><i class="fa fa-plus-circle" style="font-size:12px">Save & Add More</i></button>&nbsp; 
    <button (click)="saveRisk()" type="button" class="btn btn-success"><i class="fa fa-save" style="font-size:12px;">&nbsp; &nbsp; Save</i></button>  
  </span>
  </div>
